body{
    background-color: rgba(77, 70, 70, 0.747);
    display: flex;
    justify-content: center;
}
.menu{
    border: solid black;
    display: flex;
    align-items: center;
    flex-direction: column;
}
.listado{
    font-size: 20px;
    margin: 0px 10px 0px 0px;
}